@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* navigation part */
header{
    width:100%;
    height:100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);

}
.navbar{
    width:85%;
    height:100%;
    margin-left:11.875rem;
}
.gym-navbar > img{
    width:2.5rem;
   
}
.logo-part{

}
ul{
    list-style: none;

}
 a{
    text-decoration: none;
   
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items:center;
   

}
.gym-logo > a > li{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
    margin-top: 1rem;
}

.gym-navbar{
   display: flex;
   margin-right: 9rem;
   align-items: center;  
}
.gym-navbar > a{

    font-family:inter;
    margin-right: 2.938rem;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 400; 
    margin-top:1rem;
    padding:0.5rem;
    
}
.home{
    border-radius: 2.875rem;
    background: rgb(230, 83, 60);
    padding:0.5rem;
    width: 4rem;
    text-align: center;
}
/* hero section */
.hero{
    width:85%;
    height:100%;
    margin-top: 3.594rem;
    margin-left:11.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-content: center;
   background: linear-gradient( rgb(20, 20, 20)
   rgba(20, 20, 20, 0));
}
.hero-description{
    width:60%;
    padding:10px;
}
.hero-description-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom:1rem;
   
}
.hero-description-head> span{
   font-family: Allura;
   font-size: 200%;
}
.hero-description-paragraph{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom:1rem;
}
.button-hero-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.hero-description-button1{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding:10px;
    border:none;
    margin-right:1rem;
    cursor: pointer;
}
.hero-description-button1:hover{
    background-color: white;
    color:rgb(230, 83, 60)
}
.hero-description-button2{
    color:black;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius:42px;
    border-color:white;
    cursor: pointer;
}
.hero-description-button2:hover{
    background-color: rgb(230, 83, 60) ;
    color:white;
    border:none;
    transition: 0.5s ease-in 0.5s;
}

.hero-image > img{
    height:27.25rem; 
    width:21.813rem;
    margin-left: 4rem;
    margin-top:0;
}
.hero-image-card2{
    border-radius: 0.75rem;   
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 10rem;
    height: 6rem;
    text-align: center;
    padding:0.625rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top:5rem;
}
.play-icon{
    width:2.8rem;
    height:2.8rem;
    border-radius:50%; 
}
.play-icon-hero-image{
    display: flex;
    align-content:center;
}
.hero-image-card1{  
    border-radius: 0.75rem;   
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 9.375rem;
    height: 6rem;
    text-align: center;
    padding:0.625rem;
    display: grid; 
    align-items: center;
    margin-top:-25rem;
    margin-left:18.75rem;
}
.hero-image-card-number{ 
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900; 
}
.hero-image-card-paragraph{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 0.813rem;
    font-weight: 400;
} 
.hero-image-card-paragraph2{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 0.813rem;
    font-weight: 400;

}
/* change your habit section */
main{
    width:100%;
    height:100%;
    background-color: black ;
}
#change-your-habit{
    width:85%;
    height:100%;
    margin-left:11.875rem;
    margin-top:2.2rem;
    
}
.change-habit-title{
    display: grid;
    margin-left:-5rem;
    padding:5rem;
    
}
.change-habit-title-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom:1rem;
    text-align: center;

}
.change-habit-title-para{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-bottom:2rem;
    text-align: center;
}
.change-your-habit-card-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.change-your-habit-card-para{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 0.98rem;
    font-weight: 400;
}
.change-your-habit-card-img{
    border-radius:50%;
}
.habit-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);   
    align-items: center;
    text-align: center;
    justify-content: center;
    gap:1rem;
 
    
}
 @media screen and (min-width:577px) {
    .gym-navbar > img{
        display: none;      
    }
    
 }

@media  screen and (max-width:576px) {
    .gym-logo > a > li{
        margin-left: 1rem;
    }

    .hero{
        grid-template-columns: repeat(1, 1fr);
        margin-left:2rem;
    }
    .hero-description-paragraph{
        font-size: 1.5rem;
        width:500px;
    }
    .navbar{
        margin-left: 1rem;

    }
    .gym-navbar >a{
        display:none ;
    }
    .gym-navbar > img{
    
        background-color: white;
        margin-top:1rem;
        margin-left:15rem;
        width: 10%;
        cursor: pointer;
       
        
      
    }
    .button-hero-section{
        width: 500px;       
    }
    .hero-description-button1{
        padding:1.5rem;
        font-size:1.5rem;
    }
    .hero-description-button2{
        padding:1.5rem;
        font-size: 1.5rem;
    }
    .hero-image > img{
        margin-left:150px;
    }
    .hero-image-card1{
        margin-left:22rem;
        margin-top:-25rem;
        height:4rem;
        
    }
    .hero-image-card2{
        margin-left:10rem;
        height:4rem;
        margin-top:3rem;
    }
    .play-icon{
        width:2.8rem;
        height:2.8rem;
        border-radius:50%;
        margin-top:-0.2rem; 
    }
    .hero-image-card2{
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
    }
    .play-icon-hero-image{
        display: flex;
    }
    .hero-image-card-number{
        font-size:2rem;
    }
    .change-habit-title{
        text-align: center;
        width: 100%;
        margin-top:9.3rem;
        margin-left:-13rem;
        zoom:120%;
        
    }
    .habit-card{
        grid-template-columns: repeat(1, 1fr);
        margin-left:-6rem;
        gap:2rem;
        justify-content: center;
        align-items: center;
        width:100%;
        margin-top:-2rem;
        zoom: 150%;
    
    }
    #change-your-habit{
        margin-top:3rem;
    }
}
